# Ignore everything in the downloads folder
downloads/*

# But do not ignore the .gitignore file in the downloads folder
!downloads/.gitignore

.idea/*

.env
__pycache__
*.pyc
*.pyo
help.txt
test.py
webhook.log
rate copy.txt
rate_table.py
/texts
/tests
/myenv
add_mentors.py
links_handler.py
parse_business_card.py
parse_helper.txt
parse_notion.py
processing_link.py
.pylintrc
dump.rdb
session_name.session
